<main>
  <div class="container mt-4">
   <h3><%= @genre.name %>一覧</h3>
    <div class="row text-dark">
      <% @genre.animals.each do |animal| %>
        <div class="col-md-3">
          <div class="card">
            <% if animal.image.attached? %>
              <%= image_tag animal.image, class: 'card-img-top' %>
            <% else %>
              <%= image_tag 'no_image.jpg', class: 'card-img-top' %>
            <% end %>
            <div class="card-body">
              <h6 class="small text-secondary">題名</h6>
                <h5 class="card-title">
                  <%= link_to animal_path(animal) do %>
                    <%= animal.title %>
                  <% end %>
                </h5>
              <div class="card-text">
                <h6 class="small text-secondary">内容</h6>
                <div>
                  <%= animal.body.truncate(20) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>